@font-face {
    font-family: "Herculanum";
    src: url("https://db.onlinewebfonts.com/t/002b944b211d383987536f1ecf684bca.eot");
    src: url("https://db.onlinewebfonts.com/t/002b944b211d383987536f1ecf684bca.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/002b944b211d383987536f1ecf684bca.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/002b944b211d383987536f1ecf684bca.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/002b944b211d383987536f1ecf684bca.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/002b944b211d383987536f1ecf684bca.svg#Herculanum")format("svg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #cf554a;
    align-items: center;
    display: flex;
    position: relative;
    
}

p {
    font-family: "Herculanum";
    font-size: 4em;
    position: absolute;
    top: 50%;
    left: 20%;
    animation-name: slidedown;
    animation-duration: 3s;
    color: white;
    
   

}

h1 {
    font-family: "Herculanum";
    font-size: 4em;
    font-weight: normal;
    position: absolute;
    top: 60%;
    left: 33%;
    color: black;
    animation-name: slideup;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    
    
    

}

a {
    text-decoration: none;
    color: white;
    animation-name: soul;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    
}




@keyframes slideup {
    from {
    position: absolute;
    translate: 0% 200%;
    opacity: 0;}

  to {
    position: absolute;
    translate: 0% 5%;
    opacity: 1;}
}



@keyframes slidedown {
  from {
    position: absolute;
    translate: 0% -200%;
    opacity: 0;
    
  }

  to {
    position: absolute;
    translate: 0% 5%;
    opacity: 1;
    
  
    
  }
}

@keyframes soul {
    from {
        position: absolute;
        color: white;
        

    }
    to {
        position: absolute;
        transform: translateY(-200px);
        color: #12589d;
       
        
    }
}
